* {
  box-sizing: border-box;
}

#mainHeader {
  background-color: #4056A1;
  border-bottom: 1px solid black;
  color: #FFFF; 
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px; 
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index:1; 
}

.nav-logo h1 {
  font-size: 35px;
  font-family: 'Bungee', sans-serif;
  margin: 0px;
}

a.nav-new-tweet {
  color: black;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  margin-right: 8%;
}

a.nav-new-tweet p { 
  margin: 0px;
}
.fa-angle-double-down {
  display:block;
  color: red;
  font-size: 28px;
  margin: 0 auto;
}


