
.container {
  font-family: 'Source Sans Pro', sans-serif ;
  display: flex;
  justify-content: center;
  
  background-image: url(/public/images/concrete-wall.png);
}

.new-tweet h2 {
  font-size: 18px;
  box-shadow: 2px 2px 5px black;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
}

.new-tweet {
  padding: 2em;
  background-color:#4056A1; 
  background-image: url(/public/images/concrete-wall.png);
  border-radius: 12px;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

#tweet-text {
  width: 25em;
  height: 7em;
  padding: 1em;
  box-shadow: 2px 2px 5px black;
  border-top-style: hidden;
  border-radius: 8px;
}

#tweet-text:focus {
  outline: none;
}

.new-tweet button {
  margin-left: 4%;
  margin-top: 5%;
  padding: 7px;
  width: 100px;
  background-color: rgb(211, 94, 94);
  border-radius: 3px;
  box-shadow: 2px 2px 5px black;
  border: none;
  font-family: 'Bungee', sans-serif;
  color: #FFFF;
  transition: 0.2s
}

.new-tweet button:hover {
  box-shadow: 2px 2px 5px rgb(187,229,237);
  color: #4056A1;
}

.counter {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  font-family: 'Bungee', sans-serif;
}

/* the previous tweets section */ 


.previous-tweets article {
  background-color: rgb(187,229,237);
  background-image: url(/public/images/concrete-wall.png);
  font-family: 'Source Sans Pro', 'sans-serif';
  height: 25em; /* This might have to be adjusted later. */
  padding-top: 1.5em;
  margin-bottom: 3em; /* This should be taken off before submitting */
}

.previous-tweets-container {
  padding: 2.5em;
  background-color:#4056A1; 
  background-image: url(/public/images/concrete-wall.png);
  border-radius: 12px;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 492px;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.previous-tweets-container h1 {
  font-size: 18px;
  margin-bottom: 1em;
}

.previous-tweets p {
  height: 11em;
  background-color: #FFFF;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 12px;
  box-shadow: 3px 3px 5px;
  padding: 2em;
  max-width: 475px;
  margin: auto; 
}

.hidden-handle {
  float: right;
}

.previous-tweets-container:hover {
  box-shadow: 8px 8px 8px rgb(150, 150, 150);
  transition: 0.3s;
}

.previous-tweets-container footer {
  margin-top: 15px;
  font-size: 18px;
}










