
.container {
  font-family: 'Source Sans Pro', sans-serif ;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(249, 178, 171);
}

.new-tweet h2 {
  font-size: 18px;
  box-shadow: 2px 2px 5px black;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
}

.new-tweet {
  padding: 2em;
  background-color:#4056A1; 
  background-image: url(../images/concrete-wall.png);
  border-radius: 12px;
  margin-bottom: 1em;
  margin-top: 1.5em;
  color: black;
}

#tweet-text {
  width: 27em;
  height: 7em;
  padding: 1em;
  box-shadow: 2px 2px 5px black;
  border-top-style: hidden;
  border-radius: 8px;
}

#tweet-text:focus {
  outline: none;
}

.new-tweet button {
  margin-left: 4%;
  margin-top: 5%;
  padding: 7px;
  width: 100px;
  background-color: rgb(211, 94, 94);
  border-radius: 3px;
  box-shadow: 2px 2px 5px black;
  border: none;
  font-family: 'Bungee', sans-serif;
  color: #FFFF;
  transition: 0.2s
}

.new-tweet button:hover {
  box-shadow: 2px 2px 5px rgb(187,229,237);
  color: #4056A1;
}





.counter {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  font-family: 'Bungee', sans-serif;
}

/* The validation message when sending a tweet */ 

.validation-message {
  color: rgb(237, 67, 67);
  border: 1px solid rgb(255, 2, 2); 
  margin-right: 5em;
  text-align: center;
  margin-top: 15px;
  position: absolute;
  padding: 8px;
  background-color: rgba(232, 222, 222, 0.7);
  border-radius: 3px;
  font-size: 19px;
  visibility: hidden;
}


/* the previous tweets section */ 


.previous-tweets article {
  background-color: rgb(187,229,237);
  background-image: url(../images/concrete-wall.png);
  font-family: 'Source Sans Pro', 'sans-serif';
  height: 25em; 
  padding-top: 2.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  color: black;
}

.previous-tweets-container {
  padding: 2.5em;
  background-color:#4056A1; 
  background-image: url(../images/concrete-wall.png);
  border-radius: 12px;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 31em;
  margin: auto;
  padding-top: 0.2em;
  padding-bottom: 1em;
  
}

.previous-tweets-container h3 span {
  font-size: 18px;
  margin-left: 20px;
  padding-bottom: 5px;
}

.previous-tweets-container h3 {
  margin: 0.5em
}

.previous-tweets p {
  height: 12em;
  background-color: #FFFF;
  border-radius: 12px;
  box-shadow: 3px 3px 5px;
  padding: 2em;
  width: 26em;
  margin: auto; 
}

.hidden-handle {
  float: right;
}

.previous-tweets-container:hover {
  box-shadow: 8px 8px 8px rgb(150, 150, 150);
  transition: 0.3s;
}

.previous-tweets-container footer {
  margin-top: 15px;
  font-size: 18px;
}

.previous-tweets-container footer i {
  float: right; 
  padding-left: 6px; 
  padding-right: 6px;
  cursor: pointer;
  opacity: 0.7;
  color: black; 
  font-size:24px;
}

.previous-tweets-container footer i:hover {
  opacity: 1;
  color: red;
  transition: 0.3s;
}

/* Screen size layout adjustments */

@media only screen and (min-width: 1024px) {

.test-media {
  display: flex;
  background-color: rgb(187,229,237);
  background-image: url(../images/concrete-wall.png);
}

.new-tweet{
  margin-top: 119px;
  width: 22em; 
  border-radius: 0px;
  background-image: none;
}
.avatar-header {
  margin-top: 119px ;
  margin-bottom: 1px;
  padding-bottom: none; 
}

.avatar-name {
  margin-top: 1px;
}
.container {
  background-color: #4056A1;
  border-bottom: 1px solid rgb(43, 43, 43);
  border-left: 1px solid rgb(43, 43, 43);
}

#tweet-text {
  width: 18em;
}


}








